<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>app.numi.alfred</string>
	<key>connections</key>
	<dict>
		<key>241D9958-15DC-484F-8652-832AB776AB11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9D321B0-C22B-4D49-92C1-D24AD28D4AD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>305E535B-FED6-4E06-A0BC-88A6F4111D46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9D321B0-C22B-4D49-92C1-D24AD28D4AD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>@nikolaeu</string>
	<key>description</key>
	<string>Calculator</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Numi</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>n</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>241D9958-15DC-484F-8652-832AB776AB11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>n</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1
result=$(numi-cli "${query}")
combined="${query} = ${result}"

cat &lt;&lt; EOF
{
    "items": [
        {
            	"title": "${result}",
            	"subtitle": "${query}",
			"text": {
				"copy": "${combined}",
				"largetype": "${combined}",
			},
        },
    ]
}
EOF</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D9D321B0-C22B-4D49-92C1-D24AD28D4AD6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>=</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>305E535B-FED6-4E06-A0BC-88A6F4111D46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Numi is a handy calculator app. It allows to describe tasks the natural way and instantly get an accurate answer.</string>
	<key>uidata</key>
	<dict>
		<key>241D9958-15DC-484F-8652-832AB776AB11</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>305E535B-FED6-4E06-A0BC-88A6F4111D46</key>
		<dict>
			<key>note</key>
			<string>Type your keyword into Alfred to trigger this workflow.</string>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>D9D321B0-C22B-4D49-92C1-D24AD28D4AD6</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0.1</string>
	<key>webaddress</key>
	<string>https://numi.app</string>
</dict>
</plist>
